<h1>Make a New Article</h1>

<form action="/articles" method="POST">

    <div>
        <label>Title</label>
        <input name="title" type=text/>
    </div>

    <div>
        <label>Content</label>
        <textarea name="content"></textarea>
    </div>

    <div>
        <input type=submit>
    </div>

</form>